@* Start Body *@
<section>
    <center>
        <div class="m-2 bg-secondary p-5 w-75">
            @*margine 2 to be far p-5=>padaing, w-75=>width 75% *@
            <h1>Welcome to Content us Page</h1>
            <p>Route Academy</p>
        </div>
    </center>
</section>
@*End Body *@

